<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kazakhi Tour</title>
    <link rel="stylesheet" href="/style/materialize/css/materialize.min.css" media="screen,projection"/>
</head>
<body>
<center>
    <h4>Reset password</h4>
    <div class="container">
    <div class="row">
        <div th:if="${emailcheck}"><h4 class="green-text">Please,check your email!</h4></div>
        <div th:if="${error}"><h4 class="red-text">This email does not exist!</h4></div>
        <div th:if="${message}"><h4>Something wrong happened!</h4></div>
        <div th:if="${time}"><h4 class="red-text">Token is expired!</h4></div>
        <form class="col s12 update" th:action="@{/forget}" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Email address" type="email" name="email" required class="validate" th:object="${email}">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="submit" name="submit" class="waves-effect waves-light btn center" style="background-color: #FDB784 !important; color: white;" value="Enter">
                </div>
            </div>
        </form>
    </div>
    </div>
</center>

</body>
</html>