<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kazakhi Tour</title>
    <link rel="stylesheet" type=text/css href="/style/tours.css"/>
    <link rel="shortcut icon"  href="/images/icon.png"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/style/materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

</head>
<body>

    <!-- login form put in the form -->


    <div class="st">
    <div class="top">
        <div class="navigation">
            <div class="navv">
                <nav class="navigator">
                    <div class="nav-wrapper">
                        <a href="/main" class="brand-logo"><img src="/images/icon.png" alt=""><span class="logo">  Kazakhi Tour</span></a>

                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="hide-on-med-and-down navbtns">
                            <li th:if="${usr==null}"><a class="waves-effect waves-light btn-small btnnav modal-trigger" href="/registration">Sign Up</a></li>
                            <li th:if="${usr==null}"><a class="waves-effect waves-light btn-small btnnava modal-trigger" href="/login">Login</a></li>
                            <li th:if="${usr!=null}"><a class='dropdown-trigger' data-target='dropdown1' th:text="${usr.getUsername()}"></a></li>
                            <ul id='dropdown1' class='dropdown-content' th:if="${usr!=null}">
                                <li><a th:href="${usr.getUsername().equals('admin')}?@{/newTour}:@{'/user/'+${usr.getUsername()}}">Settings</a></li>
                                <li class="divider" tabindex="-1"></li>
                                <li><form action="/logout" method="post">
                                    <button class="btn"  style="background: #284B63;" type="submit">Logout</button>
                                </form></li>
                            </ul>
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="sidenav" id="mobile-demo">
                <li th:if="${usr==null}"><a class="waves-effect waves-light btn-small btnnav modal-trigger" href="/registration">Sign Up</a></li>
                <li th:if="${usr==null}"><a class="waves-effect waves-light btn-small btnnava modal-trigger" href="/login">Login</a></li>
                    <li th:if="${usr!=null}"><a th:href="${usr.getUsername().equals('admin')}?@{/newTour}:@{'/user/'+${usr.getUsername()}}">Settings</a></li>
                    <li th:if="${usr!=null}"><form action="/logout" method="post">
                        <button class="btn"  style="background: #284B63;" type="submit">Logout</button>
                    </form></li>
                </ul>
            </div>

            <div class="imgbox ">
                <div class="row">
                    <div class="col m3 s12">
                        <img src="/images/barhan1.jpg" class="imgs z-depth-4" alt="">
                    </div>
                    <div class="col m3 s12">
                        <img src="/images/issyk1.jpg" class="imgs z-depth-4" alt="">
                    </div>
                    <div class="col m3 s12">
                        <img src="/images/kaspi1.jpg" class="imgs z-depth-4" alt="">
                    </div>
                    <div class="col m3 s12">
                        <img src="/images/kolsai1.jpg" class="imgs z-depth-4" alt="">
                    </div>
                </div>
            </div>
    </div>
    </div>

    <div class="nd">
        <h2 class="center" style="color: #F8964E; font-weight: bold; letter-spacing: 0.05em;">Inspirational phrase</h2>
        <hr style="width: 20%; border: solid #284B63; border-radius: 5px;">
        <p style="width:55%;letter-spacing: 0.05em; color: #284B63; padding-top: 4%;">Cras tempus ac enim a rhoncus. Phasellus commodo, mauris eu tempor dignissim, nisl eros congue orci, in auctor orci elit eu ipsum.
            Praesent ultricies dui non facilisis lobortis. Vestibulum vel rutrum odio. Nunc mollis viverra erat nec elementum.
            In ornare facilisis nisl ut convallis. Etiam odio leo, semper ac nisi ut, lacinia pulvinar lorem.
            Cras tempus ac enim a rhoncus. Phasellus commodo, mauris eu tempor dignissim, nisl eros congue orci, in auctor orci elit eu ipsum.
            Praesent ultricies dui non facilisis lobortis. Vestibulum vel rutrum odio. Nunc mollis viverra erat nec elementum.
            In ornare facilisis nisl ut convallis. Etiam odio leo, semper ac nisi ut, lacinia pulvinar lorem.
        </p>
        <br>
        <p style="letter-spacing: 0.05em; float: right; color: #284B63;">Nam eget aliquam neque. Aenean vitae dictum nulla. Nam eget aliquam neque.</p>
    </div>

    <div class="rd">

        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="openPages/index.html" class="breadcrumb" style="font-size: larger">Home</a>
                    <a href="#!" class="breadcrumb" style="font-size:larger">Tours</a>
                </div>
            </div>
        </nav>

        <hr style=" border: 0.7px solid white; margin-bottom: 2%;">

        <div class="types">
            <div class="row">
                    <ul>
                        <li class="btn-large col s4"><a th:href="@{'/tours/'+${current}+'?option=tourdate'}"><i class="fas fa-calendar-minus"></i> Date</a></li>
                        <li class="btn-large col s4"><a th:href="@{'/tours/'+${current}+'?option=tourduration'}"><i class="fas fa-hourglass-half"></i> Time</a></li>
                        <li class="btn-large col s4"><a th:href="@{'/tours/'+${current}+'?option=price'}"><i class="fas fa-dollar-sign"></i> Price</a></li>
                    </ul>
            </div>
        </div>

    <br>

    <div class="row cards">
        <div class="col s12 m4 l4" th:each="tours: ${tours}" th:if="${tours.getTourDetails()}">
            <div class="card hoverable">
                <div class="card-image">
                    <img th:src="${tours.image}">
                </div>
                <div class="card-content">
                    <p><i class="fas fa-map-marker-alt"></i><span th:text="${tours.tourname}"></span></p>
                    <p th:text="${tours.address}"></p>
                    <div class="two">
                    <p><i class="fas fa-clock"></i>The nearest date: <span th:text="${tours.getTheNearestDate()}"></span></p>
                     <p th:text="${tours.tourduration}"></p>
                        <p  class="price right" th:text="${tours.price}"></p>
                    </div>
                </div>
                <div class="card-action">
                    <a style="color:#F8964E !important; margin: 0px;  display: block; width: 100%; height: 100%;" th:href="@{'/tourpage/'+${tours.tourid}}">More information</a>
                </div>
            </div>
        </div>
    </div>

        <ul class="pagination right">
            <li><a th:class="${current}==1?'disabledlink':'waves-effect'" th:href="@{'/tours/'+${current-1}+'?option='+${option}}"><i class="material-icons">chevron_left</i></a></li>
            <li th:each="i : ${#numbers.sequence(1,pages.getTotalPages())}" >
                <a class="waves-effect" th:href="@{'/tours/'+${i}+'?option='+${option}}" th:text="${i}" th:classappend="${i}==${current}?'active'  :''" ></a>
            </li>
            <li><a th:class="${current}==${pages.getTotalPages()}?'disabledlink':'waves-effect'" th:href="@{'/tours/'+${current+1}+'?option='+${option}}"><i class="material-icons">chevron_right</i></a></li>
        </ul>

    </div>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text" style="font-family: Roboto; font-style: normal; font-weight: normal;">KAZAKHI TOUR</h5>
                    <p class="grey-text text-lighten-4" style="font-family: Roboto; font-style: italic; font-weight: 300;">Write to discover this great country!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text" style="font-family: Roboto; font-style: normal; font-weight: normal;">Contacts</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3 cl" href="#!"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a class="grey-text text-lighten-3 cl" href="#!"><i class="fab fa-vk"></i> VK</a></li>
                        <li><a class="grey-text text-lighten-3 cl" href="#!"><i class="fab fa-telegram"></i> Telegram</a></li>
                        <li><a class="grey-text text-lighten-3 cl" href="#!"><i class="fab fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright Text
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/style/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/tours.js"></script>
</body>
</html>